.app-container {
    width: 100%;
    margin: auto;
    min-height: 100vh;
}

.error-message {
    margin: var(--spacing-medium);
    color: var(--color-dark-grey);
    font-size: var(--font-regular);
    text-align: center;
}


.app-container .page-container {
    padding: var(--spacing-large) var(--spacing-large);
}
