.page-404 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-grey);
}

.title-404 {
    margin-top: var(--spacing-xx-large);
    padding: var(--spacing-medium);
    font-size: var(--font-xx-large);
    font-weight: 500;
}

.description-404 {
    font-size: var(--font-regular);
}

.page-404 .go-to-home{
    padding: var(--spacing-x-large) 0;
    font-size: var(--font-large);
    font-weight: 500;
}